
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container{
  background-color: #1E1758;
}

#app{
  background-color: #E3E3E3;
}

header{
  span{
    float: left;
  }
  .current-user{
    font-size: 16px;
    color: #90E67F;
    padding-left: 5px;
    margin-bottom: 5px;
  }
}

.login-btn{
  background-color: #6FEF75;

  .glyphicon-plus-sign{
    padding-right: 5px;
  }
}

.login-nav{
  background-color: black;
  color: white;
  text-align: right;
  margin-bottom: 0;
}

.login-form-container{
  background-color: black;
  color: #E3E3E3;
  border: 1px solid #E3E3E3;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-bottom: 10px;

  label{
    color: #FFF;
  }

  input{
    color: black;
  }
}

#username{
  background-color: #E3E3E3;
}

#password{
  background-color: #E3E3E3;
}

.create-account{
  padding-bottom: 10px;
}

li{
  list-style: none;
}

.chat-container{
  background-color: #E3E3E3;
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 20px;
}

.chat-stamp{
  border-bottom: 1px solid black;
  text-align: right;
  padding: 5px;

  .user{
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
  }

  .current-time{
    font-size: 12px;
    color: grey;
  }
}

.chat-content{
  padding-top: 10px;

  p{
    padding-left: 5px;
    padding-right: 5px;
  }
}

.chat-form{
  color: #FFF;
  border: 1px solid #FFF;
  background-color: black;
  padding: 10px;

  h2{
    font-size: 20px;
    border-bottom: 1px solid black;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  textarea{
    background-color: #E3E3E3;
  }

  input{
    color: black;
  }
}
